.container_Login {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1884581/pexels-photo-1884581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  .container_Login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 250px;
    border-radius: 8px;
    background-color: white;
    h3 {
      text-align: center;
      padding: 15px 0;
      font-size: 25px;
    }
    .container_Login_form_text {
      table {
        margin-left: 15%;
        tr {
          td {
            input {
              padding: 0px 5px;
                outline: none;
              margin-left: 15px;
            }
          }
        }
      }
    }

    .buttonlogin {
      padding: 1px 30px;
      transform: translate(-50%, -50%);
      margin-left: 50%;
      border: none;
      outline: none;
      border: 1px solid;
      &:hover {
        cursor: pointer;
        font-weight: 600;
        color: #fff;
        background-color: #3498db;
      }
    }

    .text {
      margin-top: 1px;
      font-size: 12px;
      margin-left: 45px;
      span {
        cursor: pointer;
        color: #0d3aee;
      }
    }

    .back_home{
      cursor: pointer;
      margin-top: 8px;
      text-align: right;
      margin-right: 65px;
      font-size: 11px;
      color: #0d3aee;
      text-transform: capitalize;

    }
  }
}
